.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    background-color: inherit;
}

.pagination > li > a, .pagination > li > span {
    padding: 2px 8px;
    color: #3e9aa5;
    background-color: inherit;
    border: none;
    border-radius: 22px;
    margin: 0 4px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #3e9aa5;
    border-color: #1b717b;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}
