html,
body {
    height: 100%;
    background-color: #1F5466;
    color: white;
}

.modal-content {
    background-color: #3e9aa5;
}

div.site-index {
    max-width: 640px;
    margin: 0 auto;
}

div.card-container {
    padding: 20px;
    color: white;
    background-color: rgba(66, 110, 130, 0.5);
    margin: 20px auto;
    box-shadow: 1px 1px 10px #323533;
}

div.card-image {
    text-align: center;
}

div.card-author {
    font-size: 30px;
}

div.card-caption {
    font-size: 18px;
    line-height: 2em;
}

button#add-photo {
    margin: 20px 0;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(30%);
    }
    100% {
        transform: translateY(0);
    }
}

div.list-view {
    animation: 0.3s ease-out 0s 1 slideInFromBottom;

}
